:root {
    --bg-default: oklch(40.758% 0.26689 270.145);
    --bg-light: oklch(87.879% 0.04194 221.814);
    --text-color: oklch(12.212% 0.00001 271.152);
    --text-secondary: oklch(18.315% 0.02984 238.768);
    --alert-text-color: oklch(50.92% 0.20896 29.223);
    --bg-glass: oklch(100% 0.00011 271.152 / 0.25);
    --border-glass: 1px solid oklch(91.279% 0.0001 271.152);
    --decorative-spacing-xs: 4px;
    --decorative-spacing-s: 8px;
    --decorative-spacing-m: 12px;
    --decorative-spacing-l: 16px;
    --decorative-spacing-xl: 20px;
    --decorative-spacing-xxl: 24px;
    --semantic-spacing-s: 0.5rem;
    --semantic-spacing-m: 1rem;
    --semantic-spacing-l: 1.5rem;
    --semantic-spacing-xl: 2rem;
    --border-radius-small: 4px;
    --border-radius-std: 12px;
    --font-thin: 400;
    --font-s: 0.875rem;
    --font-ml: 1.5rem;
}

body {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(to bottom right, var(--bg-light), var(--bg-default));
    background-repeat: no-repeat;
    color: black;
    font-family: sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue';
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

h1, p {
    padding: 0;
    margin: 0;
}

main {
    width: 60%;
    max-width: 50rem;
    min-height: 18rem;
    background-color: var(--bg-glass);
    backdrop-filter: blur(4px);
    padding: var(--decorative-spacing-xxl);
    border: var(--border-glass);
    border-radius: var(--border-radius-std) 0 var(--border-radius-std) 0;
    display: flex;
    flex-flow: row nowrap;
    position: relative;
}

h1 {
    font-weight: var(--font-thin);
    margin-bottom: var(--semantic-spacing-l);
}

.col-wrapper {
    width: 50%;
}

.input-wrapper {
    display: flex;
    flex-flow: column nowrap;
    padding-right: var(--decorative-spacing-xl);
}

.text-label {
    display: inline-block;
    margin-bottom: var(--semantic-spacing-s);
}

.input-field {
    padding: var(--decorative-spacing-s);
    border: none;
    border-radius: var(--border-radius-small);
    transition: background-color 100ms linear;
}

.input-field:focus-visible {
    outline: 2px solid black;
}

.forgot-password-btn {
    position: absolute;
    right: var(--decorative-spacing-xxl);
    bottom: var(--decorative-spacing-xxl);
    color: var(--text-secondary);
    display: inline-block;
    font-size: var(--font-s);
}

.submit-btn {
    margin-top: var(--semantic-spacing-s);
    padding: var(--decorative-spacing-s) var(--decorative-spacing-xxl);
    border-radius: var(--border-radius-small);
    border: none;
    background-color: white;
    transition: background-color 100ms ease;
}

.third-party-login-desc {
    margin-top: var(--semantic-spacing-l);
    font-size: var(--font-ml);
    text-align: center;
}

.third-party-wrapper {
    display: flex;
    flex-flow: column nowrap;
    margin-top: var(--decorative-spacing-m);
    padding: var(--decorative-spacing-xxl);
    gap: var(--semantic-spacing-m);
}

.third-party-btn {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: var(--decorative-spacing-s) var(--decorative-spacing-l);
    border-radius: var(--border-radius-small);
    border: none;
    background-color: white;
    transition: background-color 100ms ease;
}

.error {
    font-size: var(--font-s);
    color: var(--alert-text-color);
    margin: var(--semantic-spacing-s) 0 var(--semantic-spacing-m) 0;
}

.form-error {
    display: inline-block;
    margin-top: var(--semantic-spacing-m);
    margin-bottom: 0;
}

.input-field:hover, .input-field:focus {
    background-color: oklch(96.416% 0.00011 271.152);
}

.third-party-btn:hover, .submit-btn:hover {
    background-color: oklch(93.403% 0.00011 271.152);
}

.third-party-btn:active, .submit-btn:active {
    background-color: oklch(90.06% 0.0001 271.152);
}

.third-party-btn:focus-visible, .submit-btn:focus-visible {
    outline: 2px solid black;
}

.forgot-password-btn:hover {
    outline: none;
    text-decoration: none;
}

.forgot-password-btn:focus-visible {
    outline: 2px solid black;
}

@media (max-width: 55rem) {
    main {
        width: 75%;
    }
}

@media (max-width: 40rem) {
    main {
        width: 60%;
        flex-flow: column nowrap;
        margin: 0 var(--decorative-spacing-m);
    }
    
    .third-party-wrapper {
        padding: 0;
        margin-top: 0;
        padding-bottom: var(--decorative-spacing-xl);
        margin-bottom: var(--semantic-spacing-xl);
    }

    .third-party-login-desc {
        text-align: left;
        margin-bottom: var(--semantic-spacing-m);
    }

    .col-wrapper {
        width: 100%;
    }

    .input-wrapper {
        padding-right: 0;
    }
}
