:root {
    --bg-default: oklch(39.602% 0.27448 264.073);
    --bg-light: oklch(87.879% 0.04194 221.814);
    --text-color: oklch(12.212% 0.00001 271.152);
    --text-secondary: oklch(18.315% 0.02984 238.768);
    --alert-text-color: oklch(50.92% 0.20896 29.223);
    --bg-glass: oklch(100% 0.00011 271.152 / 0.25);
    --border-glass: 1px solid oklch(91.279% 0.0001 271.152);
    --decorative-spacing-xs: 4px;
    --decorative-spacing-s: 8px;
    --decorative-spacing-m: 12px;
    --decorative-spacing-l: 16px;
    --decorative-spacing-xl: 24px;
    --semantic-spacing-s: 0.5rem;
    --semantic-spacing-m: 1rem;
    --semantic-spacing-l: 1.5rem;
    --semantic-spacing-xl: 2rem;
    --border-radius-small: 4px;
    --border-radius-std: 12px;
    --font-thin: 400;
    --font-s: 0.875rem;
}

body {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(to bottom right, var(--bg-light), var(--bg-default));
    background-repeat: no-repeat;
    color: black;
    font-family: sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue';
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

h1, p {
    padding: 0;
    margin: 0;
}

main {
    width: 65%;
    max-width: 50rem;
    min-height: 18rem;
    background-color: var(--bg-glass);
    backdrop-filter: blur(4px);
    padding: var(--decorative-spacing-xl);
    border: var(--border-glass);
    border-radius: var(--border-radius-std) 0 var(--border-radius-std) 0;
    display: flex;
    flex-flow: row nowrap;
    position: relative;
}

h1 {
    font-weight: var(--font-thin);
    margin-bottom: var(--semantic-spacing-l);
}

.form-wrapper {
    width: 50%;
}

.input-wrapper {
    display: flex;
    flex-flow: column nowrap;
}

.text-label {
    display: inline-block;
    margin-bottom: var(--semantic-spacing-s);
}

.input-field {
    padding: var(--decorative-spacing-s);
    border: none;
    border-radius: var(--border-radius-small);
    margin-bottom: var(--semantic-spacing-m);
}

.forgot-password-btn {
    position: absolute;
    left: var(--decorative-spacing-xl);
    bottom: var(--decorative-spacing-xl);
    color: var(--text-secondary);
    display: inline-block;
    font-size: var(--font-s);
}