body {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(to bottom right, lightblue, blue);
    background-repeat: no-repeat;
    color: black;
    font-family: sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue';
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}
